<html>
  <head>
    <title><%= page_title %></title>
  </head>
  <body>
    <main>
      <div><%= user %></div>
      <div><%= text %></div>
      <div><%= added %></div>
    </main>
  </body>
</html>
